#links-container {
  background-color: #f6f6ef;
}

#links-header {
  background-color: rgb(255, 102, 0);
  margin-bottom: 10px;
}

.links-link:hover,
.links-link {
  color: black;
  text-decoration: none;
}

.links-caption:hover,
.links-caption {
  color: #828282;
}
